Module Index
============

bbbb
@{ build_toctree_for_modules }@

{% if build_toctree_for_modules %}
.. toctree:: :maxdepth: 1

{% endif %}

{% for name in categories %}
{% if build_toctree_for_modules %}
    list_of_@{ name }@_modules
{% else %}
    *   :doc:`list_of_@{ name }@_modules`
{% endif %}
{#    *   :doc:`@{ name }@ <list_of_@{ name }@_modules>` #}
{% endfor %}
