Plugin Index
============

{% if build_toctree_for_modules %}
.. toctree:: :maxdepth: 1

{% endif %}

{% for name in categories %}
{% if name != ''%}
{% if build_toctree_for_modules %}
    list_of_@{ name }@_plugins
{% else %}
    *   :doc:`list_of_@{ name }@_plugins`
{% endif %}
{% endif %}
{% endfor %}
