Plugin Index
============

{% for name in categories %}
{% if name != ''%}
{#    list_of_@{ name }@_plugins #}
{#    *   :doc:`@{ name }@ <list_of_@{ name }@_plugins>` #}
    *   :doc:`list_of_@{ name }@_plugins`
{% endif %}
{% endfor %}
